<div class="container-main">

  <div class="layout-3col">

    <!-- LEFT SIDEBAR -->
    <aside>
      <div class="card">
        <h2 class="font-semibold mb-2">Navigation</h2>
        <p class="text-sm opacity-70">Links coming later</p>
      </div>
    </aside>

    <!-- MAIN CONTENT -->
    <main>
      <h1 class="text-2xl font-bold mb-6 text-primary-blue-dark">
        All Users
      </h1>

      <ul class="space-y-3">
        <% @users.each do |user| %>
		  <%= render user %>
        <% end %>
      </ul>

		<div class="pagy-nav">
			<%== @pagy.series_nav %>
		</div>


    </main>

    <!-- RIGHT SIDEBAR -->
    <aside>
      <div class="card">
        <h2 class="font-semibold mb-2">Suggestions</h2>
        <p class="text-sm opacity-70">Future: who to follow</p>
      </div>
    </aside>

  </div>

</div>